/* Set the box parameters to 0 to avoid confusions on further positioning */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    src: url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
    font-family: Comfortaa;
}

body {
    font-family: "Comfortaa";
}

.contents{
    width: 20%;
    float: left;
    position: fixed;
    height: 100vh;
    background-color: lightslategrey;
}

ul {
    list-style-type: none;
}

li {
    margin: 1em 2em;
    font-size: 24px;
}

.text {
    width: 80%;
    float: right;
    background-color: mintcream;
}

h2 {
    margin: 1em 2em;
    font-size: 40px;
}

p {
    font-size: 20px;
    margin: 2em;

}

#backtomain {
    margin-top: 30px;
    width: parent;
    text-align: center;
    font-size:16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

#HTML-tree {
    float: left;
    margin: 10px 20px;
}

.tag {
    margin-left: 60px;
}

.code {
    height: 55vh;
    margin-left: 5%;
}

.page {
    height: 55vh;
    margin-right: 5%;
    float:right
}

#csscode {
    float: left;
    height: 35vh;
    margin-right: 20px;
}

h3 {
    margin-left: 50px;
}

#tools {
    float:left;
    margin: 20px;
    margin-top: 0px;
}

table {
    font-size: 20px;
    margin: 2em 80px;
    border-collapse: collapse;
}

td {
    padding-right: 1em;
    border: 1px solid black;
}